@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dmsans;
  src: url(./assets/fonts/DMSans-Regular.ttf);
}
@font-face {
  font-family: dmsans-b;
  src: url(./assets/fonts/DMSans-Bold.ttf);
}
@font-face {
  font-family: dmsans-m;
  src: url(./assets/fonts/DMSans-Medium.ttf);
}
@font-face {
  font-family: helvetica;
  src: url(./assets/fonts/HelveticaNeueRoman.otf);
}
@font-face {
  font-family: helvetica-b;
  src: url(./assets/fonts/Helvetica-Bold.ttf);
}
@font-face {
  font-family: lexend;
  src: url(./assets/fonts/LexendDecaRegular.ttf);
}
@font-face {
  font-family: hindu;
  src: url(./assets/fonts/Hind-Regular.ttf);
}
@font-face {
  font-family: hindu-b;
  src: url(./assets/fonts/Hind-Bold.ttf);
}
@font-face {
  font-family: hindu-m;
  src: url(./assets/fonts/Hind-Medium.ttf);
}
@font-face {
  font-family: Euclid;
  src: url(./assets/fonts/Euclid\ Circular\ A\ Regular.ttf);
}
@font-face {
  font-family: euclid-m;
  src: url(./assets/fonts/Euclid\ Circular\ A\ Medium.ttf);
}

#student{
  position: relative;
}
#student::after{
  content: '';
  bottom: 3.5px;
  width: 100%;
  height: 1.3px;
  background-color: #1A2D62;
  position: absolute;
}
#course{
  position: relative;
}
#course::after{
  content: '';
  bottom: 3.5px;
  width: 100%;
  height: 1.3px;
  background-color: #1A2D62;
  position: absolute;
}

#move{
  transition: width 0.5s;
}




@media screen and (max-width: 376px) {
  #link{
    position: absolute;
    top: 178px;
  }
}
@media screen and (min-width: 1285px) {
  #link{
    position: absolute;
    top: 129.3px;
  }
  #change{
    display: flex;
    flex-direction:  row;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
  #link{
    position: absolute;
    top: 146.3px;
  }
  #text{
    padding: 0px 280px;
    padding-top: 14px;
  }
  #change{
    display: flex;
    flex-direction:  row;
  }
}